<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
</head>
<body>
    <%- include('./nav') %>

    <form class="m-4" method="post" action="/signupUser">
        <div class="mb-3">
            <label for="InputName" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="InputName" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>

        

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>